<!DOCTYPE html>
<html>
<head>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- /.website title -->
    <title>TSAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS Files -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename="css/font-awesome.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="fonts/icon-7-stroke/css/pe-icon-7-stroke.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/animate.css") }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename="css/owl.theme.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/owl.carousel.css") }}" rel="stylesheet">

    <!-- Colors -->
    <link href="{{ url_for('static', filename="css/css-index.css") }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename="css/css-app.css") }}" rel="stylesheet" media="screen">
    <!-- <link href="css/css-app-green.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-app-purple.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-app-red.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-app-orange.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/css-app-yellow.css" rel="stylesheet" media="screen"> -->

    <!-- Google Fonts -->
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar-scroll">

<!-- /.preloader -->
<div id="preloader"></div>
<div id="top"></div>

<!-- /.parallax full screen background image -->
<div id="top" class="fullscreen landing parallax"
     style="background-image:url('{{ url_for('static', filename="images/bg.png") }}');" data-img-width="2000"
     data-img-height="1325" data-diff="100">

    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                    <!-- /.logo -->
                    <div class="logo wow fadeInDown"><a href=""><img
                            src="{{ url_for('static', filename="images/logo.png") }}" alt="logo"></a></div>
                    <!-- /.main title -->
                    <h1 class="wow fadeInLeft">
                        Бесплатные чат-боты по подписке.
                    </h1>

                    <!-- /.header paragraph -->
                    <div class="landing-text wow fadeInLeft">
                        <p>У нас вы можете заказать бесплатное создание ботов и навыков для мессенджеров, социальных
                            сетей и голосовых ассистентов. Оплата взимается лишь за ежемесячную подписку.</p>
                        <!--<p>У нас вы можете заказать бесплатное создание ботов и навыков для мессенджеров, социальных сетей и голосовых ассистентов. Платить придётся лишь за ежемесячную подписку.</p>-->
                    </div>

                    <!-- /.header button -->
                    <div class="head-btn wow fadeInLeft">
                        <a href="#contact" class="btn-primary">Оставить заявку</a>
                        <a href="#intro" class="btn-default"><i class="fa fa-arrow-down"></i></a>
                    </div>

                    <!-- /.phone option -->
                    <div class="more wow fadeInLeft">
                        <p>Available for:
                            <a href="https://vk.com/im?sel=-167771039" class="btn option">VKontakte</a>
                            <a href="https://tg.me/ru_tsar_bot" class="btn option">Telegram</a>
{#                            <a href="#download" class="btn option">Яндекс.Алиса</a>#}
                            <a href="#download" class="btn option"><i class="fa fa-arrow-right"></i></a>
                            <!--
                            <i class="fa fa-telegram"></i>
                            <i class="fa fa-vk"></i>
                            -->
                        </p>
                    </div>

                </div>

                <!-- /.phone image -->
{#                <div class="col-md-5">#}
{#                    <!--<iframe width="400" height="500" src="https://www.youtube.com/embed/aIIdMaO4Lqg?autoplay=1&amp;loop=1&amp;&amp;playlist=Video_ID" frameborder="0" allowfullscreen class="header-phone"></iframe>-->#}
{##}
{#                    <img src="{{ url_for('static', filename="images/mobile.png") }}" alt="phone"#}
{#                         class="header-phone img-responsive wow fadeInRight">#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>

<!-- NAVIGATION -->
<div id="menu">
    <nav class="navbar-wrapper navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand site-name" href="#top"><img
                        src="{{ url_for('static', filename="images/Var_4_long.png") }}" alt="logo"></a>
            </div>

            <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#intro">Возможности</a></li>
                    <!--<li><a href="#feature-2">Привлечение клиентов</a></li>-->
                    <li><a href="#feature">Подписка</a></li>
                    <li><a href="#package">Цены</a></li>
                    <li><a href="#contact">Заказ</a></li>
                    <li><a href="#screenshot">Скриншоты</a></li>
                    <!--<li><a href="#testi">Reviews</a></li>-->
                    <li><a href="#download">Наши боты</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- /.Экономия section -->
<div id="intro">
    <div class="container">
        <div class="row">
            <!-- /.intro image -->
            <div class="col-md-6 intro-pic wow slideInLeft">
                <img src="{{ url_for('static', filename="images/intro-image.jpg") }}" alt="image"
                     class="img-responsive">
            </div>

            <!-- /.intro content -->
            <div class="col-md-6 wow slideInRight">
                <h2>Возможности</h2>
                <!--<h2>Экономия бюджета</h2>-->
                <!--<h2>Боты - отличное средство для экономии бюджета</h2>-->
                <!--<p>Пока компании, живущие прошлым, выплачивают не малые зарплаты работникам поддержки и call-центра. Компании будущего уже внедряют ботов во все сферы своего бизнеса. Не оставайтесь в прошлом, <a href="#subscribe">закажите</a> вашего первого бота прямо сейчас.</p>-->
                <p>Закажите бота отвечающего на самые частозадоваемые вопросы или навык для создания заказа голосом.
                    Вариантов применения больше чем вы думаете.</p>
                <div class="btn-section"><a href="/usage" class="btn-default">Несколько примеров</a></div>

            </div>
        </div>
    </div>
</div>

<!-- /.Почему подписка section -->
<div id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

                <!-- /.feature title -->
                <h2>Почему подписка?</h2>
                <!--<h2>Почему боты по подписке это удобно?</h2>-->
                <!--<p>Наша главная особенность - это внедрение системы подписок на ботов. И вот несколько аргументов в пользу такой системы:</p>-->
                <p>Подписка - ежемесечная оплата услуг предоставляемых компанией.</p>
            </div>
        </div>
        <div class="row row-feat">
            <div class="col-md-4 text-center">

                <!-- /.feature image -->
                <div class="feature-img">
                    <img src="{{ url_for('static', filename="images/feature-image.jpg") }}" alt="image"
                         class="img-responsive wow fadeInLeft">
                </div>
            </div>

            <div class="col-md-8">

                <!--/.Бесплатное создание -->
                <div class="col-sm-6 feat-list">
                    <i class="pe-7s-chat pe-5x pe-va wow fadeInUp"></i>
                    <div class="inner">
                        <h4>Бесплатное создание</h4>
                        <p>При оплате двух месяцев выполним индивидуальный заказ по индивидуальному <u
                                title="Технический Заказ">ТЗ</u>.</p>
                        <!--<p>Для заказа Вам необходимо лишь оплатить два месяца работы бота. Далее мы свяжемся с Вами для утверждения технического заказа.</p>-->
                        <!--<p>Чтобы совершить заказ вам всего лишь надо оплатить два месяца работы бота, после чего  мы свяжемся с вами для утверждения технического заказа.</p>-->
                    </div>
                </div>

                <!-- /.Поддержка ваших ботов -->
                <div class="col-sm-6 feat-list">
                    <i class="pe-7s-look pe-5x pe-va wow fadeInUp" data-wow-delay="0.2s"></i>
                    <div class="inner">
                        <h4>Круглосуточная поддержка</h4>
                        <p>Подписка предполагает безупречный сервис, который мы с радостью предоставим.</p>
                        <!--<p>Вам больше не нужно заботиться о проверке работоспособности бота. Мы берём всю ответственность на себя.</p>-->
                    </div>
                </div>

                <!-- /.Отказ от подписки в любое время -->
                <div class="col-sm-6 feat-list">
                    <i class="pe-7s-plug pe-5x pe-va wow fadeInUp" data-wow-delay="0.4s"></i>
                    <div class="inner">
                        <h4>Выключение бота</h4>
                        <p>Отключение бота на время или навсегда. За отключенного бота деньги на взимаются.</p>
                        <!--<p>При необходимости вы всегда можете отказаться от подписки. При этом ваш бот останется у нас, и Вы сможете активировать его в любое время.</p>-->
                        <!--<p>При необходимости вы всегда можете отказаться от подписки. При этом ваш бот останется у нас, и Вы сможете активировать его в любое время.</p>-->
                    </div>
                </div>

                <!-- /.Бесплатное редактирование функций бота -->
                <div class="col-sm-6 feat-list">
                    <i class="pe-7s-edit pe-5x pe-va wow fadeInUp" data-wow-delay="0.6s"></i>
                    <div class="inner">
                        <h4>Изменение функционала</h4>
                        <p>Бесплатное изменение или добавление функционала при первом запросе.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash; /.Заработок 2 section &ndash;&gt;-->
<!--<div id="feature-2">-->
<!--<div class="container">-->
<!--<div class="row">-->

<!--&lt;!&ndash; /.feature content &ndash;&gt;-->
<!--<div class="col-md-6 wow fadeInLeft">-->
<!--<h2>Привлечение клиентов</h2>-->
<!--&lt;!&ndash;<h2>Привлечение клиентов через ботов, почему нет?</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<p>Каждый месяц появляются новые возможности для ботов, например, недавно ВКонтакте представили <a href="https://vk.com/im?sel=-167771039">клавиатуры для ботов</a>. Это привлекает внимание большой аудитории. Наша компания находится на пике инноваций, мы всегда готовы снабжать ботов последними новинками из мира чат-ботов.</p>&ndash;&gt;-->
<!--<p>Наличие бота у компании всегда </p>-->
<!--<div class="btn-section"><a href="#subscribe" class="btn-default">Заказать</a></div>-->

<!--</div>-->

<!--&lt;!&ndash; /.feature image &ndash;&gt;-->
<!--<div class="col-md-6 feature-2-pic wow fadeInRight">-->
<!--<img src="images/feature2-image.jpg" alt="image" class="img-responsive">-->
<!--</div>				  -->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!-- /.pricing section -->
<div id="package">
    <div class="container">
        <div class="text-center">
            <!-- /.pricing title -->
            <h2 class="wow fadeInLeft" style="margin-top: 20px">Всё по одной цене!</h2>
            <div class="title-line wow fadeInRight"></div>
        </div>
        <div class="row package-option">

            <!-- /.package 1 -->
            <div class="col-sm-3">
                <div class="price-box wow fadeInUp">
                    <div class="price-heading text-center">

                        <!-- /.package icon -->
                        <i class="pe-7s-paper-plane pe-5x"></i>

                        <!-- /.package name -->
                        <h3>Мессенджеры</h3>
                    </div>

                    <!-- /.price -->
                    <div class="price-group text-center">
                        <span class="dollar">₽</span>
                        <span class="price">800</span>
                        <span class="time">/месяц</span>
                    </div>

                    <!-- /.package features -->
                    <ul class="price-feature text-center">
                        <li><strong>Бесплатное</strong> создание</li>
                        <li><strong>Круглосуточная</strong> поддержка</li>
                        <li><strong>Бесплатное</strong> редактирование</li>
                    </ul>

                    <!-- /.package button -->
                    <div class="price-footer text-center">
                        <a class="btn btn-price" href="#contact">ЗАКАЗАТЬ</a>
                    </div>
                </div>
            </div>

            <!-- /.package 2 -->
            <div class="col-sm-3">
                <div class="price-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="price-heading text-center">

                        <!-- /.package icon -->
                        <i class="pe-7s-users pe-5x"></i>

                        <!-- /.package name -->
                        <h3>Социальные сети</h3>
                    </div>

                    <!-- /.price -->
                    <div class="price-group text-center">
                        <span class="dollar">₽</span>
                        <span class="price">800</span>
                        <span class="time">/месяц</span>
                    </div>

                    <!-- /.package features -->
                    <ul class="price-feature text-center">
                        <li><strong>Бесплатное</strong> создание</li>
                        <li><strong>Круглосуточная</strong> поддержка</li>
                        <li><strong>Бесплатное</strong> редактирование</li>
                    </ul>

                    <!-- /.package button -->
                    <div class="price-footer text-center">
                        <a class="btn btn-price" href="#contact">ЗАКАЗАТЬ</a>
                    </div>
                </div>
            </div>

            <!-- /.package 3 -->
            <div class="col-sm-3">
                <div class="price-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="price-heading text-center">

                        <!-- /.package icon -->
                        <i class="pe-7s-micro pe-5x"></i>

                        <!-- /.package name -->
                        <h3>Голосовые ассистенты</h3>
                    </div>

                    <!-- /.price -->
                    <div class="price-group text-center">
                        <span class="dollar">₽</span>
                        <span class="price">800</span>
                        <span class="time">/месяц</span>
                    </div>

                    <!-- /.package features -->
                    <ul class="price-feature text-center">
                        <li><strong>Бесплатное</strong> создание</li>
                        <li><strong>Круглосуточная</strong> поддержка</li>
                        <li><strong>Бесплатное</strong> редактирование</li>
                    </ul>

                    <!-- /.package button -->
                    <div class="price-footer text-center">
                        <a class="btn btn-price" href="#contact">ЗАКАЗАТЬ</a>
                    </div>
                </div>
            </div>

            <!-- /.package 4 -->
            <div class="col-sm-3">
                <div class="price-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="price-heading text-center">

                        <!-- /.package icon -->
                        <i class="pe-7s-chat pe-5x"></i>

                        <!-- /.package name -->
                        <h3>Чаты в поиске</h3>
                    </div>

                    <!-- /.price -->
                    <div class="price-group text-center">
                        <span class="dollar">₽</span>
                        <span class="price">800</span>
                        <span class="time">/месяц</span>
                    </div>

                    <!-- /.package features -->
                    <ul class="price-feature text-center">
                        <li><strong>Бесплатное</strong> создание</li>
                        <li><strong>Круглосуточная</strong> поддержка</li>
                        <li><strong>Бесплатное</strong> редактирование</li>
                    </ul>

                    <!-- /.package button -->
                    <div class="price-footer text-center">
                        <a class="btn btn-price" href="#contact">ЗАКАЗАТЬ</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- /.contact section -->
<div id="contact">
    <div class="contact fullscreen parallax"
         style="background-image:url('{{ url_for('static', filename="images/bg.png") }}');" data-img-width="2000"
         data-img-height="1334" data-diff="100">
        <div class="overlay">
            <div class="container">
                <div class="row contact-row">

                    <!-- /.address and contact -->
                    <div class="col-sm-5 contact-left wow fadeInUp">
                        <h2><span class="highlight">Свяжитесь</span> с нами</h2>
                        <ul class="ul-address">
                            <li><i class="pe-7s-map-marker"></i>г. Челябинск, ул. Самоцветная, 14</li>
                            <li><i class="pe-7s-phone"></i><a href="tel:+79822773247">+7 (982) 277-32-47</a></li>
                            <li><i class="pe-7s-mail"></i><a href="mailto:support@tsar-bot.ru">support@tsar-bot.ru</a>
                            </li>
                            <li><i class="pe-7s-look"></i><a href="#">www.tsar-bot.ml</a></li>
                        </ul>

                    </div>

                    <!-- /.contact form -->
                    <div class="col-sm-7 contact-right">
                        <form method="POST" id="contact-form" class="form-horizontal"
                              action="{{ url_for('get_order') }}" onSubmit="alert( 'Ваша заявка принята!' );">
                            <div class="form-group">
                                <select class="form-control wow fadeInUp" title="Канал связи"
                                        name="Канал связи">
                                    <option disabled>Выберите канал связи</option>
                                    <option>Обратный звонок</option>
                                    <option>Email рассылка</option>
                                    <option>Сообщение ВКонтакте</option>
                                    <option>Сообщение Telegram</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Контакт" id="Email" class="form-control wow fadeInUp"
                                       placeholder="Ваши контактные данные" required/>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Оставить заявку"
                                       class="btn btn-success wow fadeInUp"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.screenshot section -->
<div id="screenshot">
    <div class="container">
        <div class="text-center">
            <h2 class="wow fadeInLeft">СКРИНШОТЫ</h2>
            <div class="title-line wow fadeInRight"></div>
        </div>
        <div class="row screenshots">

            <div id="screenshots" class="owl-carousel">

                <!-- /.screenshot images -->
                <div class="screen wow fadeInUp">
                    <a href="{{ url_for('static', filename="images/screenshot1.jpg") }}" data-toggle="lightbox"><img
                            src="{{ url_for('static', filename="images/screenshot1.jpg") }}" alt="Screenshot"></a>
                </div>

                <div class="screen wow fadeInUp" data-wow-delay="0.1s">
                    <a href="{{ url_for('static', filename="images/screenshot2.jpg") }}" data-toggle="lightbox"><img
                            src="{{ url_for('static', filename="images/screenshot2.jpg") }}" alt="Screenshot"></a>
                </div>

                <div class="screen wow fadeInUp" data-wow-delay="0.2s">
                    <a href="{{ url_for('static', filename="images/screenshot3.jpg") }}" data-toggle="lightbox"><img
                            src="{{ url_for('static', filename="images/screenshot3.jpg") }}" alt="Screenshot"></a>
                </div>

                <div class="screen wow fadeInUp" data-wow-delay="0.3s">
                    <a href="{{ url_for('static', filename="images/screenshot4.jpg") }}" data-toggle="lightbox"><img
                            src="{{ url_for('static', filename="images/screenshot4.jpg") }}" alt="Screenshot"></a>
                </div>

{#                <div class="screen wow fadeInUp" data-wow-delay="0.4s">#}
{#                    <a href="{{ url_for('static', filename="images/screenshot1.jpg") }}" data-toggle="lightbox"><img#}
{#                            src="{{ url_for('static', filename="images/screenshot1.jpg") }}" alt="Screenshot"></a>#}
{#                </div>#}
{##}
{#                <div class="screen wow fadeInUp" data-wow-delay="0.5s">#}
{#                    <a href="{{ url_for('static', filename="images/screenshot2.jpg") }}" data-toggle="lightbox"><img#}
{#                            src="{{ url_for('static', filename="images/screenshot2.jpg") }}" alt="Screenshot"></a>#}
{#                </div>#}
{##}
{#                <div class="screen wow fadeInUp" data-wow-delay="0.6s">#}
{#                    <a href="{{ url_for('static', filename="images/screenshot3.jpg") }}" data-toggle="lightbox"><img#}
{#                            src="{{ url_for('static', filename="images/screenshot3.jpg") }}" alt="Screenshot"></a>#}
{#                </div>#}
{##}
{#                <div class="screen wow fadeInUp" data-wow-delay="0.7s">#}
{#                    <a href="{{ url_for('static', filename="images/screenshot4.jpg") }}" data-toggle="lightbox"><img#}
{#                            src="{{ url_for('static', filename="images/screenshot4.jpg") }}" alt="Screenshot"></a>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>

<!-- /.client section -->
{#<div id="client">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-sm-12 text-center">#}
{#                <img alt="client" src="{{ url_for('static', filename="images/client1.png") }}" class="wow fadeInUp">#}
{#                <img alt="client" src="{{ url_for('static', filename="images/client2.png") }}" class="wow fadeInUp"#}
{#                     data-wow-delay="0.2s">#}
{#                <img alt="client" src="{{ url_for('static', filename="images/client3.png") }}" class="wow fadeInUp"#}
{#                     data-wow-delay="0.4s">#}
{#                <img alt="client" src="{{ url_for('static', filename="images/client4.png") }}" class="wow fadeInUp"#}
{#                     data-wow-delay="0.6s">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<!-- /.download section -->
<div id="download">
    <div class="action fullscreen parallax"
         style="background-image:url('{{ url_for('static', filename="images/bg.png") }}');" data-img-width="2000"
         data-img-height="1334" data-diff="100">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                        <h2 class="wow fadeInLeft">Протестируйте наших ботов прямо сейчас!</h2>
                        <p class="download-text wow fadeInRight">Мы могли бы ещё долго расписывать возможности ботов, но
                            оценить их по настоящему возможно только на практике.</p>

                        <!-- /.download buttons -->
                        <ul class="download-store">
                            <li class="appstorebutton iphone wow fadeInUp">
                                <a href="tg://resolve?domain=ru_tsar_bot&start=site"><i
                                        class="pe-7s-paper-plane pe-5x"></i>
                                    <p>
                                        <small>Наш бот в</small>
                                        Telegram
                                    </p>
                                </a>
                            </li>
                            <li class="appstorebutton android wow fadeInUp" data-wow-delay="0.2s">
                                <a href="https://vk.com/im?sel=-167771039"><i
                                        {#                                <a href="vk://resolve?domain="><i#}
                                        class="fa fa-vk"></i>
                                    <p>
                                        <small>Наш бот во</small>
                                        ВКонтакте
                                    </p>
                                </a>
                            </li>
{#                            <li class="appstorebutton iphone wow fadeInUp" data-wow-delay="0.2s">#}
{#                                <a href="#"><i class="pe-7s-micro pe-5x"></i>#}
{#                                    <p>#}
{#                                        <small>Наш навык</small>#}
{#                                        Алисы#}
{#                                    </p>#}
{#                                </a>#}
{#                            </li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.footer -->
<footer id="footer">
    <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <!-- /.social links -->
            {# <div class="social text-center">
                <ul>
                    <li><a class="wow fadeInUp" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="wow fadeInUp" href="https://www.facebook.com/" data-wow-delay="0.2s"><i
                            class="fa fa-facebook"></i></a></li>
                    <li><a class="wow fadeInUp" href="https://plus.google.com/" data-wow-delay="0.4s"><i
                            class="fa fa-google-plus"></i></a></li>
                    <li><a class="wow fadeInUp" href="https://instagram.com/" data-wow-delay="0.6s"><i
                            class="fa fa-instagram"></i></a></li>
                </ul>
            </div>  #}
            <div class="text-center wow fadeInUp" style="font-size: 14px;">Copyright Backyard 2019 - Template by <a
                    href="http://bootstrapthemes.co/" target="_blank">BootstrapThemes</a></div>
            <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
        </div>
    </div>
</footer>

<!-- /.javascript files -->
<script src="https://console.chat/load.js"></script>
<script src="{{ url_for('static', filename="js/jquery.js") }}"></script>
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/custom.js") }}"></script>
<script src="{{ url_for('static', filename="js/jquery.sticky.js") }}"></script>
<script src="{{ url_for('static', filename="js/wow.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/owl.carousel.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/ekko-lightbox-min.js") }}"></script>
<script src="{{ url_for('static', filename="js/owl.carousel.min.js") }}"></script>
<script type="text/javascript">
            $( document ).delegate( '*[data-toggle="lightbox"]', 'click', function ( event ) {
                event.preventDefault();
                $( this ).ekkoLightbox();
            } );




</script>
<script>
            new WOW().init();




</script>
</body>
</html>
